*{
  padding: 0;
  margin: 0;
  font-family:'Retroica', sans-serif;
}

.App {
  text-align: center;
}
#hover{
  margin-top: 10%;
  text-align: center;
  border-radius: 20px;
  height: 40vh;

  transition:1s;
}
#hover:hover{
  border: 0.5px solid rgb(158, 158, 158);
}

#deal{
  background: #f7f7f7;
  transition: 1s;
  padding: 3rem;
  line-height: 2rem;
}
#deal:hover{
  transform: scale(1.1);
}

#FreeParkingButton{
  background: white;
  color: #000;
  font-weight: 100;
  font-size: 15px;
  padding: 0rem 3rem;
  border: 1px solid;
  transition: 0.9s;
}
#FreeParkingButton:hover{
  background: #000;
  color: white;
}

#inpuBoxHeight{
  height: 3rem;
  

}
#inpuBoxHeight::placeholder{
  color: white;
}
#inpuBoxHeight:focus {
  background: rgb(224, 224, 224);
  color: #000;

}
#inpuBoxHeight:focus::placeholder{
  color: #000;
}
.search{
  margin-top: 15%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  background:white ;
  height: 40px;
  border: 1px solid;
  border-radius: 40px;
  padding: 10px;
}

.search:hover > .search-txt{
  width: 180px;
  padding: 0 10px;
  color: wheat;
  font-family: 'Pangolin', cursive;
}
.search:hover > .search-btn{
 background: white ;
}
.search-btn{
  border: 2px solid;
  color: #fa824c;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#abb2b900 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color:wheat ;
  font-size: 16px;
  transition: ease-in 0.4s;
  line-height: 40px;
  width: 110px;
  font-family: 'Pangolin', cursive;
}
.fas fa-search{
  font-weight: 200;
  font-size: 40px;
}