*{
  padding: 0;
  margin: 0;
  font-family:'Retroica', sans-serif;
}

.App {
  text-align: center;
}
#hover{
  margin-top: 10%;
  text-align: center;
  border-radius: 20px;
  height: 40vh;

  transition:1s;
}
#hover:hover{
  border: 0.5px solid rgb(158, 158, 158);
}

#deal{
  background: #f7f7f7;
  transition: 1s;
  padding: 3rem;
  line-height: 2rem;
}
#deal:hover{
  transform: scale(1.1);
}